<div class="profile-container">
  <div class="profile-image">
    <img class="image-profile" src="/assets/img/profile-image.jpg" alt="">
  </div>
  <div class="profile-details">
    <h2>João Keuwe</h2>
    <h3> <span>Cargo:</span> Engenheiro de software Pleno</h3>
    <p><span>E-mail:</span> joaov.ojo&#64;gmail.com</p>
    <p> <span>Telefone:</span> (11) 97991-9177</p>
    <div class="profile-info">
      <div class="info-item">
        <p><span>Cidade:</span> São Paulo, SP</p>
        <p><span>Idade:</span> 22 anos</p>
      </div>
    </div>
    <button [routerLink]="['/']" class="home-button">Voltar</button>
  </div>
</div>
